head
  title CSSnippets 
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(src='https://use.fontawesome.com/4318a7a22b.js')
  script(src='/js/vendor/prism.js')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/vendor/prism.css')
