nav.side-nav
  ul
    -  function capitalize(s) { return s.charAt(0).toUpperCase() + s.slice(1); };
    each page in pages
      li 
        if (page == activePage)
          a.active(href=`/${page}` data-page=page)=capitalize(page)
        else
          a(href=`/${page}` data-page=page)=capitalize(page)

.side-nav-click#sideNavClick
