extends ../shared/section.pug

block description
  p Buttons that contain an icon. They can eighter contain text content or  just the icon.
  
block samples
  a.blue.thumps-up.iconButton(href='#') Like
  a.blue.thumps-up.iconButton.noText(href='#')
  a.red.star.iconButton(href='#') Favorite
  a.red.star.iconButton.noText(href='#')
  a.orange.share.iconButton(href='#') Share
  a.orange.share.iconButton.noText(href='#') 
  a.purple.bookmark.iconButton(href='#') Bookmark 
  a.purple.bookmark.iconButton.noText(href='#') 
  a.teal.wrench.iconButton(href='#') Settings 
  a.teal.wrench.iconButton.noText(href='#') 
