extends ../shared/section.pug

block description
  p Simple round buttons with a hover effect. 
  
block samples
  a.button.blue(href='#')  Round Button
  a.button.blue.inverted(href='#') Inverted Button

  a.button.red(href='#') Round Button
  a.button.red.inverted(href='#') Inverted Button
  
  a.button.orange(href='#') Round Button
  a.button.orange.inverted(href='#') Inverted Button
  
  a.button.purple(href='#') Round Button
  a.button.purple.inverted(href='#') Inverted Button
  
  a.button.teal(href='#') Round Button
  a.button.teal.inverted(href='#') Inverted Button
