extends ../shared/section.pug

block description
  p
    | A simple flat chat design. Message can be marked with
    code read
    | or
    code waiting
    | to indicate whether a message has been read.

  
block samples
  .conversation
    .chat
      .row.you
        .message
          | Hey have you finished excercise 3?
        .info
          | 11:00
      .row.me
        .message
          | When is our assignment due?
        .info.read 11:12
      .row.you
        .message
          | I think tommorow.
        .info
          | 11:23
      .row.me
        .message
          | lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam veroluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        .info.waiting
          | 11:14
    .control
      input(type='text' placeholder='Type a message')
      button(type='button')
        i.fa.fa-arrow-right