extends ../shared/section.pug

block description
  p Simple buttons. 
  
block samples
  a.button.blue(href='#')  Button
  a.button.blue.inverted(href='#') Button

  a.button.red(href='#') Flat Button
  a.button.red.inverted(href='#') Inverted Button
  
  a.button.orange(href='#') Flat Button
  a.button.orange.inverted(href='#') Inverted Button
  
  a.button.purple(href='#') Flat Button
  a.button.purple.inverted(href='#') Inverted Button
  
  a.button.teal(href='#') Flat Button
  a.button.teal.inverted(href='#') Inverted Button
