@import '../variables';

a.button {
  padding: 0px 32px;
  display: inline-block;
  transition: 0.5s;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  line-height: 48px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family: sans-serif;
  margin: 5px;
  min-width: 15em;
}

a.button.inverted {
  border-style: solid;
  border-width: 2px;
}

@mixin color($name, $color, $hoverColor) {
    a.button.#{$name} {
      background-color: $color;

      &:hover {
        background-color: $hoverColor;
      }
    }

    a.button.#{$name}.inverted {
      border-color: $color;
      color: $color;
      background-color: white;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
}

@each $colorName, $color in $colors {
  @include color($colorName, map-get($color, normal), map-get($color, dark));
}
