.content-wrapper {
  display: inline-block;
  vertical-align: top;
  height: calc(100vh - #{$headerHeight});
}


@media (min-width: $breakPointDesktop) {
  .content-wrapper {
    width: 85%;
  }
}

@media (max-width: $breakPointMobile) {
  .content-wrapper {
    width: 100%;
    margin-top: $headerHeight;
  }
}

.loading {
  position: absolute;
  width: inherit;
  text-align: center;
  top: 50%;
}
