.header {
  background-color: $primaryColor;
  min-height: $headerHeight;
  width: 100%;
  position: sticky;
  top: 0px;
}

.header::before {
  @extend .vertical-aligner;
}

.header-brand {
  padding-left: 20px;
}

.header-brand .fa {
  padding-right: 5px;
  color: white;
  display: none;
}

@media (max-width: $breakPointMobile) {
  .header-brand .fa {
    display: inline-block;
  }

  .header {
    position: fixed;
  }
}


.header-brand > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}
