$headingTextColor: #222;

main {
  width: 65%;
  display: inline-block;
  padding-top: 20px;
}

@media (max-width: $breakPointMobile) {
  main {
    width: 100%;
  }
}

section {
  display: block;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

section h1 {
  color: $headingTextColor;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0px;
}

section h1 i {
  float: right;
  cursor: pointer;
}

section h1.anchor {
  margin-top: -$headerHeight;
  padding-top: $headerHeight;
}

.samples {
  display: inline-block;
  text-align: center;
}


@media (max-width: $breakPointMobile) {
  // Take up the whole width on mobile
  .source {
    width: 100%;
  }

  .samples {
    width: 100%;
  }
}
