$mobileSideNavWidth: 200px;

nav.side-nav {
  display: inline-block;
  background-color: #EEE;
  height: calc(100vh - #{$headerHeight});
}


@media (min-width: $breakPointDesktop) {
  .side-nav {
    width: 15%;
  }
}

@media (max-width: $breakPointMobile) {
  .side-nav {
    width: $mobileSideNavWidth;
    position: fixed;
    top: $headerHeight;
    z-index: 5;
    transition: all ease-out 1s;
    transform: translate(-$mobileSideNavWidth, 0px);
  }

  .side-nav.open {
    transform: translate(0px, 0px);
  }
}

.side-nav-click {
  display: none;
}

@media (max-width: 749px) {
  .side-nav-click {
    width: 100%;
    position: fixed;
    top: $headerHeight;
    z-index: 5;
    height: 100vh;
    transform: translate(-$mobileSideNavWidth, 0px);
  }

  .side-nav-click.open {
    transform: translate($mobileSideNavWidth, 0px);
    display: inline-block;
  }
}


.side-nav > ul {
  list-style: none;
  padding: 0px;
}

.side-nav li {
  padding-bottom: 10px;
}

.side-nav a {
  text-decoration: none;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  padding-left: 30px;
}

.side-nav a.active {
  border-left: 4px solid $secondaryColor;
  color: $secondaryColor;
}
