
-var section = config.getSectionFromName('roundButton')
include ../sections/roundButton.pug
-var section = config.getSectionFromName('flatButton')
include ../sections/flatButton.pug
-var section = config.getSectionFromName('simpleButton')
include ../sections/simpleButton.pug