.content
  
  link(rel='stylesheet' href='css/snippets/roundButton.css')
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
  section
    h1 Button
    .roundButton.samples
      a.button(href='#') Round Button
      a.button.inverted(href='#') Inverted Button
      a.button.inverted(href='#') Inverted Button
      a.button.inverted(href='#') Inverted Button
      a.button.inverted(href='#') Inverted Button
      a.button.inverted(href='#') Inverted Button
    .source
      .sourceBox
        ul.tabNav
          li.active(data-tab-type='css' data-tab-group='roundButton') .css
          li(data-tab-type='scss' data-tab-group='roundButton') .scss
        .tabContent(data-tab-group='roundButton' data-tab-type='css')
            pre
              code.language-css.
                $headingTextColor: #333;

                section {
                  display: block;
                  margin-bottom: 20px;
                  padding-left: 20px;
                }

                section h1 {
                  color: $headingTextColor;
                  font-weight: 400;
                  font-size: 24px;
                }
        .tabContent.hidden(data-tab-group='roundButton' data-tab-type='scss')
          pre
            code.language-scss.
              $headingTextColor: #222;

              section {
                display: block;
                margin-bottom: 20px;
                padding-left: 20px;
              }

              section h1 {
                color: $headingTextColor;
                font-weight: 400;
                font-size: 24px;
              }
          
  section
      h1 Button
      .roundButton
        a.button(href='#') Round Button
        a.button.inverted(href='#') Inverted Button
