doctype html

html
  include shared/head.pug
  
  body
    
    include shared/header.pug
    
    include shared/sideNav.pug
    
    .content
      block content
    
    include shared/footer.pug
    
    script(src='/js/main.js')
